@import url('https://fonts.googleapis.com/css2?family=Roboto');

body {
    font-family: "Roboto";
    margin: 0;
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.hidden {
    display: none;
}

.fw-700 {
    font-weight: 700;
}

/* Mobile */
@media only screen and (min-device-width : 280px) and (max-device-width : 540px) {
    body {
        font-size: 16px;
    }

    .menu {
        height: 100vh;
        width: 150px;
        background-color: #191718;
        color: #FFF;
        position: fixed;
        top: 0;
    }

    .nav {
        width: 150px;
        z-index: 1;
    }

    .nav-menu {
        height: 44px;
        display: flex;
        flex-direction: column;

    }

    .nav-menu:hover {
        background-color: #5C5C5C;
    }

    .nav-menu span {
        padding: 14px 16px 11px;
    }

    .nav-menu svg {
        height: 3px;
    }

    .nav-close {
        background-color: #5C5C5C;
    }

    #button-nav button {
        margin: 20px;
        width: 50px;
        height: 50px;
        background-color: #191718;
        color: #FFF;
        position: fixed;
        ;
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo img {
        width: 250px;
        height: 98px;
        margin-top: 20px;
    }

    .content-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
        margin-top: 30px;
        background-color: #EFEFEF;
        padding: 0 20px;
    }

    .content-2 .title {
        margin-top: 38px;
        font-weight: 700;
        font-size: 18px;
    }

    .content-2 p {
        text-align: center;
        margin-bottom: 38px;
    }

    .ct3-item-title {
        margin-bottom: 18px;
    }

    .ct3-item {
        margin-bottom: 38px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .wrap {
        display: flex;
        flex-direction: row;

    }

    .ct3-item-para {
        margin-top: 18px;
        margin: 0 20px 0 20px;
    }

    .ct3-item-para img {
        float: left;
        width: 128px;
        height: 128px;

    }

    .ct3-item-para p {
        margin-top: 0;
        margin-bottom: 0;
    }

    .footer {
        height: 79px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 1px solid #DEDEDE;
    }
}

/* Tablet  */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .menu {
        height: 100vh;
        width: 150px;
        background-color: #191718;
        color: #FFF;
        position: fixed;
        top: 0;
    }

    .nav {
        width: 150px;
        z-index: 1;
    }

    .nav-menu {
        height: 44px;
        display: flex;
        flex-direction: column;

    }

    .nav-menu:hover {
        background-color: #5C5C5C;
    }

    .nav-menu span {
        padding: 14px 16px 11px;
    }

    .nav-menu svg {
        height: 3px;
    }

    .nav-close {
        background-color: #5C5C5C;
    }

    .content {
        margin-left: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        height: max-content;
        position: relative;
        min-height: 100vh;
    }

    .content .logo {
        margin-top: 20px;
    }

    .content-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #EFEFEF;
        padding: 0 20px;
        margin: 0 20px 10px 20px;
        height: max-content;
    }

    .content-2 .title {
        margin-top: 38px;
        font-weight: 700;
        font-size: 18px;
    }

    .content-2 p {
        text-align: center;
        margin-bottom: 38px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .content-3 {
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin: 0 20px 100px 20px;
    }

    .content-3 .ct3-item-title {
        font-size: 24px;
    }

    .content-3 .ct3-item-para img {
        float: left;
        margin-right: 16px;
    }

    .footer {
        height: 79px;
        width: 100%;
        border-top: 1px solid #DEDEDE;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        bottom: 0;
    }

    .footer span {
        margin-left: 20px;
        color: #3E3E3E;
    }
}

/* Desktop */
@media only screen and (min-width : 1224px) {
    body {
        position: relative;
        min-height: 100vh;
        width: 100%;
    }

    .menu {
        height: 100vh;
        width: 150px;
        background-color: #191718;
        color: #FFF;
        position: fixed;
        top: 0;
    }

    .nav {
        width: 150px;
        z-index: 1;
    }

    .nav-menu {
        height: 44px;
        display: flex;
        flex-direction: column;

    }

    .nav-menu:hover {
        background-color: #5C5C5C;
    }

    .nav-menu span {
        padding: 14px 16px 11px;
    }

    .nav-menu svg {
        height: 3px;
    }

    .nav-close {
        background-color: #5C5C5C;
    }

    .content {
        margin-left: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        height: max-content;
    }

    .content .logo {
        margin-top: 20px;
    }

    .content-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #EFEFEF;
        padding: 0 20px;
        margin: 0 129px 10px 129px;
        height: max-content;
    }

    .content-2 .title {
        margin-top: 38px;
        font-weight: 700;
        font-size: 18px;
    }

    .content-2 p {
        text-align: center;
        margin-bottom: 38px;
        margin-left: 269px;
        margin-right: 269px;
    }

    .content-3 {
        display: flex;
        flex-direction: row;
        gap: 50px;
        margin: 0 129px 129px;
    }

    .content-3 .ct3-item-title {
        font-size: 24px;
    }

    .content-3 .ct3-item-para img {
        float: left;
        margin-right: 16px;
    }

    .footer {
        height: 79px;
        width: 100%;
        border-top: 1px solid #DEDEDE;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .footer span {
        margin-left: 129px;
    }
}